body {
    text-align: center;
    font-family: Cantarell;
    font-size: 20px;
}

input {
    font-size: 15px;
    border-radius: 5px;
}

.mode {
    transform:scale(1.2);
}

table {
    margin: auto;
    text-align: right;
}

#radio_buttons{
    text-align: left;
    margin-top: 20px;
}

#res {
    font-size: 90px;
    margin-top: 30px;
    font-style: oblique;
}

#string-numbers-value {
    width: 250px; /* Ширина поля в пикселах */
}

#amount {
    width: 100%;
}

#count {
    width: 200px;
    height: 60px;
    display: inline-block;
    font-size: 30px;
    background-color: forestgreen;
    color: ivory;
    border-radius: 11px;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px darkgrey;
    outline: none;
}
 #count:hover {
    background-color: darkgreen;
 }
 #count:active{
    background-color: darkgreen; 
    box-shadow: 0 4px grey;
    transform: translateY(4px)
 }